/*
font-family: 'Koulen', cursive; //Runes
font-family: 'Source Sans Pro', sans-serif; //Text
font-family: 'Staatliches', cursive; //Titles
*/

html, body{
	margin: 0px;
}

body{
	background-color: #cba1d1;
}

a{
	text-decoration: none;
	color: #ffffff;
}

.navBar{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	color: #ffffff;
	font-family: 'Staatliches', cursive;
	padding: 20px;
	#text-align: center;
	overflow: hidden;
	width: 100%;
}

.mobileMenu{
	z-index: 100;
	font-family: 'Staatliches', cursive;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 30%;
	background-color: rgba(0,0,0,0.7);
}

.mobileMenu a{
	margin: 0px;
}

#titleLink{
	display: inline-block;
	#float: left;
	font-size: 30px;
	letter-spacing: 1px;
	vertical-align: bottom;
    line-height: 30px;
}
#titleImage{
	height: 30px; 
	width: 9px; 
	background-image: url(../logo.png); 
	display: inline-block; 
	background-size: 9px 30px;
	background-repeat: no-repeat;
}
.navLink{
	margin-left: 50px;
	font-size: 20px;
	vertical-align: bottom;
    line-height: 40px;
	transition: all 0.5s;
}

.navLink:hover, .navLink:active{
	color: #faf9b4;
}